.App {
  text-align: center;
  padding: 20px;
}
div {
  box-sizing: border-box;
}
nav {
  padding: 20px;
}
.list {
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px dotted black;
}
.black-nav {
  display: flex;
  background: black;
  width: 100%;
  color: white;
  padding-left: 20px;
  justify-content: space-between;
  padding-right: 20px;
}
.titleChangeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid aqua;
  border-radius: 1rem;
  padding: 2px 10px 2px 10px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.titleChangeBtn span {
  color: aqua;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.post {
  margin-top: 20px;
  padding: 20px;
  background-color: #eee;
  text-align: left;
}

.btnClicked {
  color: gray !important;

  text-decoration: line-through;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
